html {
    font-size: 10px;
}
body {
    background: url('../img/img-text-guru.jpg') no-repeat ;
    background-position: 0% 100%;
    font-family: $font-text;
    color: #6d6963;
}
.container {
    max-width: 1430px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.col {
    width: 50%;
    position: relative;
}
.logo {
    object-fit: contain;
    width: 100%;
    height: auto;
}
.scroll-button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}



//==========keyframes=========//

@keyframes animation-line {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

