//=========fonts variables========
$font-bold: "GothamProBold", sans-serif;
$font-light: "GothamProLight", sans-serif;
$font-text: "robotoregular", sans-serif;


//=========color variables=========
$color-black: #202020;
$color-blue: #7ab9ff;