.banner {
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
    &_title {
        @include fontSize(60);
        color: $color-black;
        position: relative;
    }
    &_text {
        @include fontSize(18);
    }
    &_laptop {
        padding-bottom: 62%;
        margin-top: -10%;
        background: url('../img/img-parallax-1.png') no-repeat;
        background-position: 50% 0%;
        background-size: contain;
        position: relative;
        z-index: 5;
    }
    &_parallax {
       position: absolute;
       top: -17%;
       width: 100%;
       height: auto;
       
    }
    &_line {
        position: relative;
       &:before {
            content: '';
            display: block;
            height: 25%;
            background: $color-blue;
            position: absolute;
            bottom: 20%;
            width: 0;
            z-index: -1;
            animation: animation-line 0.6s ease-in-out forwards;
            animation-delay: 0.4s;
    

       }
    }
  
}