<div class="col">
    <h1 class="banner_title">Тизерная реклама с <span class="banner_line">максимальной</span><br> конверсией</h1>
    <p class="banner_text">Teaser.Guru — это продвинутый сервис по созданию результативной тизерной рекламы на проверенных площадках.</p>
</div>
<div class="col col_parallax" id="scene">
    <div class="parallax_layer" data-depth = " 0.4 ">
        <div class="banner_laptop">
            <!--<video poster="http://ufuture.com/wp-content/themes/ufuture-site/img/u-boat-img.jpg" id="bgvid" playsinline="" autoplay="" muted="" loop="">
          <source src="http://ufuture.com/wp-content/themes/ufuture-site/img/u-boat.webm" type="video/webm"> 
          <source src="http://ufuture.com/wp-content/themes/ufuture-site/img/u-boat.mp4" type="video/mp4">
          </video>-->
        </div>
    </div>
    <div class="parallax_layer" data-depth = " 0.5 ">
        <img class="banner_parallax" src="img/img-parallax-4.png" alt="parallax-1">
    </div>
    <div class="parallax_layer" data-depth = " 0.2 ">
        <img class="banner_parallax" src="img/img-parallax-3.png" alt="parallax-2">
    </div>
    <div class="parallax_layer" data-depth = " 0.4 ">
        <img class="banner_parallax" src="img/img-parallax-2.png" alt="parallax-3">
    </div>    
</div>
