<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Teaser Guru</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <link type="text/css" href="css/main.min.css" rel="stylesheet" media="screen">  
    </head>
    <body>
        <div class="container">
            <div class="container_mobile">
            <header class="header">
                {% include "_header.html" %}
            </header>
            <section class="banner">
                {% include "_banner.html" %}
            </section>
            <!--<div class="scroll-button">
                <svg width='100' height='50' fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                    <g id="arrow"><g><polygon points="28.7,41 33,36.8 50,54.5 67,36.8 71.3,41 50,63.2   "/></g></g>
                </svg>
            </div>-->
        </div>
        <div class="container_mobile">
            <main class="content">
                {% include "_content.html" %}
            </main>
        </div>  
    </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>        